* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #E9D6E3;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
  perspective: 1000px;
}

.memory-card {
  width: 100px;
  height: 100px;
  margin: 5px;
  box-shadow: 1px 1px 1px #be0f0fe8;
}


.yellow {
  background-color: #f4f142;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}
